.nav-link {
    color: var(--font-color) !important;
    transition: color 0.7s;
}

.nav-link:hover {
    color: var(--second-color) !important;
}

.navbar-brand {
    color: var(--second-color) !important;
    font-family: var(--font-title);
}

.offcanvas-body {
    background-color: transparent;
}

.offcanvas-body.collapsed {
    background-image: url(../images/menu-background.jpg);
    object-fit: cover;
}

@media (max-width: 991px) {
    .offcanvas-body {
        background-image: url(../images/menu-background.jpg);
        object-fit: cover;
    }
}
