.robocup {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, .1)), linear-gradient(to bottom, rgba(0, 0, 0, 1.5), rgba(0, 0, 0, .1)), url(https://as2.ftcdn.net/v2/jpg/08/99/16/83/1000_F_899168375_4LYuBisuf8IQUCMSwm6JfE3mGiiLTviI.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 6% 0;
}

.robocup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    color: var(--font-color);
}

.robocup-title {
    font-family: var(--font-title);
    font-size: var(--font-size-title);
    margin-bottom: 20px;
    border-bottom: 2px solid var(--second-color);
    border-radius: 15%;
}

.robocup-text {
    font-family: var(--font-text);
    font-size: var(--font-size-text);
    margin: 0 auto;
    width: 70%;
}

.robocup-logos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
    gap: 20px;
    flex-wrap: wrap;
}

.logo {
    width: 30%;
    max-width: 250px;
    border: none;
}

.accordion-container {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 130px;
}

.next-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    color: var(--font-color);
}

.next-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.next-title {
    font-family: var(--font-title);
    font-size: var(--font-size-title);
    margin-bottom: 20px;
    border-bottom: 2px solid var(--second-color);
    border-radius: 15%;
}

.next-text {
    font-family: var(--font-text);
    font-size: var(--font-size-text);
    margin: 0 auto;
    width: 70%;
}

@media (max-width: 1024px) and (min-width: 768px) {
    .robocup-logos {
        align-items: center;
        justify-content: space-around;
        gap: 20px;
    }

    .accordion-container {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .robocup-text,
    .next-text {
        width: 90%;
    }

    .robocup-logo-accordion {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .logo {
        width: 40%;
        max-width: 200px;
    }

    .accordion-container {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .robocup-title,
    .next-title {
        font-size: 3rem;
    }

    .robocup-text,
    .next-text {
        font-size: 0.9rem;
    }
}
